@import 'nib'

canvas
  border: 1px solid black
  position: relative
  margin-left: auto
  margin-right: auto

.engine
  overflow: hidden
  border: 1px solid black
  position: relative
  background-color: black
  margin-left: auto
  margin-right: auto
  box-sizing: border-box

.viewport
  position: relative
  transform: translatez(0);

.map, .anim
  line-height: 0
  overflow: show
  position: absolute
  box-sizing: border-box

.tile
  box-sizing: border-box
  padding: 0
  margin: 0
  background-color: green
  user-select: none
  position: absolute
  border: 1px solid transparent
  overflow: visible

.tile.new
  background-color: blue

.tile.old
  background-color: red

.tile.building
  background-image: url('/img/building.png')

.tile:hover
  border: 1px solid #aaa

.tile.selected
  border: 1px solid #fff

.tile_position
  position: relative
  color: #888
  font-size: 10px
  margin-top: 24px;
  width: 100%;
  text-align: center;

.player
  background-image: url('/img/player2.png')
  background-size: 16px 16px

.zombie
  background-image: url('/img/zombie_gray.png')
  background-size: 16px 16px

.tile:hover .zombie, .tile.selected .zombie
  background-image: url('/img/zombie.png')

.thing
  position: absolute
  width: 16px
  height: 16px
  display: inline-block
  box-sizing: border-box
  z-index: 1

.rotate1
  transform: rotate(30deg)

.rotate2
  transform: rotate(60deg)

.rotate3
  transform: rotate(90deg)

.rotate4
  transform: rotate(120deg)

.rotate5
  transform: rotate(150deg)

.rotate6
  transform: rotate(180deg)

.rotate7
  transform: rotate(210deg)

.rotate8
  transform: rotate(240deg)

.rotate9
  transform: rotate(270deg)

.rotate10
  transform: rotate(300deg)

.rotate11
  transform: rotate(330deg)

.rotate12
  transform: rotate(360deg)


.thing:nth-child(1) {
  left: 0px
  top: 0px
}

.thing:nth-child(2) {
  left: 16px
  top: 16px
}

.thing:nth-child(3) {
  left: 32px
  top: 0px
}

.thing:nth-child(4) {
  left: 0px
  top: 16px
}

.thing:nth-child(5) {
  left: 16px
  top: 16px
}

.thing:nth-child(6) {
  left: 32px
  top: 16px
}

.thing:nth-child(7) {
  left: 0px
  top: 32px
}

.thing:nth-child(8) {
  left: 16px
  top: 32px
}

.thing:nth-child(9) {
  left: 32px
  top: 32px
}