@import 'nib'

html,body
  padding: 0px
  margin: 0px
  width: 100%
  height: 100%

canvas
  border: 1px solid black
  position: relative
  margin-left: auto
  margin-right: auto

.map
  position: relative
  background-color: black
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden

.editor
  border:1px solid #aaaaaa
  position: fixed
  width: 200px
  height: 400px
  right: 10px
  top: 100px
  background-color: white

.viewport
  line-height: 0
  overflow: show
  position: absolute
  box-sizing: border-box

.tile
  box-sizing: border-box
  padding: 0
  margin: 0
  background-color: green
  user-select: none
  position: absolute
  border: 1px solid transparent
  overflow: visible

.tile.new
  background-color: blue

.tile.old
  background-color: red

.tile.building
  background-image: url('/img/building.png')

.tile:hover
  border: 1px solid #aaa

.tile.selected
  border: 1px solid #fff

.tile_position
  position: relative
  color: #888
  font-size: 10px
  margin-top: 24px;
  width: 100%;
  text-align: center;

.player
  background-image: url('/img/player2.png')
  background-size: 16px 16px

.zombie
  background-image: url('/img/zombie_gray.png')
  background-size: 16px 16px

.tile:hover .zombie, .tile.selected .zombie
  background-image: url('/img/zombie.png')

.thing
  position: absolute
  width: 16px
  height: 16px
  display: inline-block
  box-sizing: border-box
  z-index: 1
