extends /templates/main

block head
   title ZombieTown!

block head_css
   link(rel='stylesheet', href='/css/index.css')

block body_js

   //SHARED
   script(src="/shared/consts.js")
   script(src="/shared/mapHelper.js")
   script(src="/shared/events.js")

   script(src="/js/vendor/phaser_2.4.4.js")

   script(src="/js/models/Player.js")

   script(src="/js/game/Util.js")
   script(src="/js/game/Thing.js")
   script(src="/js/game/Tile.js")
   script(src="/js/game/Map.js")
   script(src="/js/game/Game.js")
   script(src="/js/game/Events.js")


   script(src="/js/index3.js")

block body
   div #{player.name}
