doctype html
html
   head
      title ZombieTown Map Editor

      link(rel='stylesheet', href='/css/animate.css')
      link(rel='stylesheet', href='/css/index.css')

   body
      script(src="/js/vendor/jquery.min.js")
      script(src="/js/vendor/underscore.min.js")
      script(src="/js/vendor/backbone.js")
      script(src="/js/vendor/peps.js")

      script(src="/js/jst.js")
      script(src="/js/editor.js")


      div.map
         div.viewport coisa
      div.editor

