extends /templates/main

block head
   title ZombieTown!

block head_css
   link(rel='stylesheet', href='/css/index.css')

block body_js

   script(src="/js/vendor/phaser.js")
   script(src="/js/game/Util.js")
   script(src="/js/game/Tile.js")
   script(src="/js/game/Map.js")
   script(src="/js/game/Game.js")

   script(src="/js/index3.js")
