doctype html
html
   head
      script(src="//code.jquery.com/jquery-2.1.0.min.js")
      script(src="/js/index.js")

      link(rel='stylesheet', href='/css/index.css')

   body
      div.map
         - for (var x = 0; x < 169; x++)
            div.slot