<div id="assets_editor_container">

    <input id="assets_selected_id" type="hidden">
    <img id="assets_selected_tile_img">
    <input id="assets_selected_tile_name">

    <div class="assets_actions">
        <button class="assets_clear assets_button btn btn-default">CLEAR</button>
        <button class="assets_save assets_button btn btn-default">SAVE</button>
    </div>


</div>

<div id="assets_list_container">
    <div class="form-group">
        <label class="sr-only" for="assets_filter">Tile Name</label>
        <input id="assets_filter" placeholder="filter tiles">
    </div>

    <div class="assets_tiles_section"></div>
</div>






