<div class="editor_title">Editor</div>

<div class="editor_sub">Tile List</div>
<input class="editor_filter" placeholder="filter tiles">
<div class="editor_tiles_section"></div>

<div class="editor_sub">Tile Detail</div>
<div class="editor_selected_tile_section">
    <input class="editor_selected_id" type="hidden">
    <img class="editor_selected_tile_img">
    <input class="editor_selected_tile_name">
    <div class="editor_actions">
        <button class="editor_clear editor_action_button">CLEAR</button>
        <button class="editor_save editor_action_button">SAVE</button>
    </div>

</div>
