doctype html
html
   head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible",content="IE=edge")
      meta(name="viewport",content="width=device-width, initial-scale=1")

      script(type="text/javascript").
         var ZT = ZT || {}; //creates ZT namespace

      block head

      link(rel='stylesheet', href='/css/vendor/bootstrap.css')
      link(rel='stylesheet', href='/css/animate.css')

      block head_css

   body

      //PUBLIC
      script(src="/js/vendor/jquery.min.js")
      script(src="/js/vendor/underscore.js")
      script(src="/js/vendor/backbone.js")
      script(src="/js/vendor/bootstrap.js")

      script(src="/socket.io/socket.io.js")

      script(src="/js/models/Thing.js")
      script(src="/js/models/ThingType.js")
      script(src="/js/models/Tile.js")
      script(src="/js/models/TileType.js")
      script(src="/js/models/Region.js")

      script(src="/js/jst.js")

      //SHARED
      script(src="/lib/MapLogic.js")

      script(type="text/javascript").
         var socket = io();

      block body_js

      block body


